/* Simple CSS that needs to work on all browsers */


/* center the page */
body {
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
    padding: 0.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


div.container {
    width: 100%;
    border: 1px solid gray;
    padding: 1em;
}

/* Style the header */
header {
    background-color: #c9c9c9;
    padding: 1em;
    color: rgb(31, 28, 28);
    clear: left;
    text-align: center;
}

header h1 {
    margin: 0.2em;
    padding: 0;
}

header p {
    margin: 0;
    padding: 0;
}

/* Style the footer */
footer {
    background-color: #c9c9c9;
    padding: 1em;
    color: rgb(31, 28, 28);
    clear: left;
    text-align: center;
}


