/* Simple CSS that needs to work on all browsers */
* {
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.container {
    max-width: 800px;
    margin: 0 auto; /* Center the container */
    border: 1px solid #808080;
    padding: 1%;
}

/* Style the header */
header, footer {
    background-color: #d3d3d3;
    padding: 1%;
    color: #111111;
    clear: left;
    text-align: center;
}

header h1 {
    margin: 0.2em;
    padding: 0;
}

header p {
    margin: 0;
    padding: 0;
}
